@use "../abstracts/size" as *;
@use "../abstracts/functions" as fx;

.sidebar {
  background-color: #{fx.getBackgroundColor()};
}

@media (min-width: $breakpoint-xs) {
  .sidebar {
    width: 11rem;
    position: sticky;
    top: 0;
  }
}