@use "variables" as *;
@use "size" as *;

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin make-container() {
  position: relative;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $container-padding-horizontal;

  @include clearfix();


  @media (max-width: $breakpoint-xl) {
    max-width: 60rem;
    padding: 0 1rem;
  }

  @media (max-width: $breakpoint-lg) {
    max-width: 45rem;
    padding: 0 1rem;
  }

  /** 992px or smaller */
  @media (max-width: $breakpoint-md) {
    max-width: 30rem;
    padding: 0 1rem;
  }

  @media (max-width: $breakpoint-xs) {
    max-width: 25rem;
    padding: 0 1rem;
  }
}