@use "sass:map";

/* Color Defaults */
$color-primary: rgb(100, 108, 255) !default;
$color-secondary: rgb(100, 150, 255) !default;
$color-text-light: rgb(229, 229, 229) !default;
$color-text-dark: rgb(0 0 0 / 0.8) !default;

$COLOR-MAPS: (
        primary: (
                800: (
                        light: $color-primary,
                        on-light: $color-text-light
                )
        ),
        secondary: (
                800: (
                        light: $color-secondary,
                        on-light: $color-text-light
                )
        ),
        black: (
                800: (
                        light: black,
                        on-light: $color-text-light
                ),
                700: (
                        light: rgb(26, 26, 26),
                        on-light: $color-text-light
                ),
                600: (
                        light: rgb(32, 32, 32),
                        on-light: $color-text-light
                ),
                500: (
                        light: rgb(45, 45, 45),
                        on-light: $color-text-light
                ),
        ),
        white: (
                800: (
                        light: rgb(229, 229, 229),
                        on-light: $color-text-dark
                )
        ),
        grey: (
                900: (
                        light: rgb(17, 24, 39),
                        on-light: $color-text-light
                ),
                800: (
                        light: rgb(29, 39, 59),
                        on-light: $color-text-light
                ),
                700: (
                        light: rgb(53, 63, 77),
                        on-light: $color-text-light
                ),
                600: (
                        light: rgb(75, 85, 99),
                        on-light: $color-text-light
                )
        ),
        red: (
                600: (
                        light: rgb(252, 81, 95),
                        on-light: $color-text-light
                )
        )
);

$TOKEN-MAP: (
  /*
    shadow - tokens for hover animation
  */
        shadow:(
                0 0.0625rem 1rem map.get($COLOR-MAPS, grey, 900, light)
        ),
        ring-shadow: 0px 0px 25px 0px,
        transition: .8s cubic-bezier(.52, .16, .04, 1),
        transition-slow: 1s,
        transition-super-slow: ease-in-out 4s,
        transition-timing-function: ease-in-out,
        drop-shadow-filter: drop-shadow(1px 1px 1.5px rgb(0 0 0 / 0.4)),
  /*
    outlines
  */
        outline: 2px solid map.get($COLOR-MAPS, primary, 800, light)
);

/* Sidebar */
$sidebar-width: 11rem;

/* Container */
$container-width: 75rem !default;
$container-padding-horizontal: 2rem !default;