@use "../../styles/abstracts/functions" as fx;

.sortableTable {

    // set badge position
    --fd-badge-Position: absolute;
    --fd-badge-Top: 7px;
    --fd-badge-Left: 0px;

    --_sortableTable-MarginTop: var(--sortableTable-MarginTop, 1.25rem);
    --_sortableTable__field-Padding: var(--sortableTable__field-Padding, 1.25rem);

    margin-top: var(--_sortableTable-MarginTop);
    width: 100%;
    border-collapse: collapse;

    .field {
        padding: var(--_sortableTable__field-Padding);
        border-bottom: 1px solid #{fx.getOnBackgroundColor()};
        text-align: left;
    }

    .headerField {
        background-color: #{fx.getColor(grey, 900)};;
        cursor: pointer;
    }

    .row:hover {
        background-color: #{fx.getColor(grey, 600)};;
    }

    .rowAction {
        gap: 0.375rem;
    }

    .actionButton {
        font-size: 1.3em;
        --_fd-button-Height: 100%;
    }
}
