@use "../styles/abstracts/functions" as fx;

.user__login, .user__logout {
  margin-top: 1rem;
}

.form {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
}

.form__diary-title,
.form__diary-content {
  background-color:  #{fx.getColor(white, 800)};
  margin-bottom: 2rem;
  padding: 0.625rem;
  border: 1px solid #{fx.getColor(white, 800)};;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.form__diary-title:focus,
.form__diary-content:focus {
  outline: solid 1px #{fx.getPrimaryColor()};;
}

.form__diary-title {
  color: #{fx.getOnColor(white, 800)};
  height: 40px;
}

.form__diary-content {
  color: #{fx.getOnColor(white, 800)};
  min-height: 2rem;
  resize: vertical;
}

.diary {
  margin: 1.25rem;
}

.diary__table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders are collapsed */
  text-align: left;
}

.diary__header {
  padding: 0.625rem;
}

.diary__entry {
  line-height: 2rem;
  border-bottom: 1px solid #{fx.getOnBackgroundColor()};
}

.diary__entry-title {
  padding-left: 0.625rem;
  font-weight: bold;
}

.diary__entry-content {
  padding-left: 0.625rem;
  margin-left: 1.25rem;
}
